* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.failed {
  height: 50%;
  background-color: aliceblue;
}

.failed h1 {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 8rem;
  font-family: sans-serif, "Courier New", Courier, monospace;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(172, 0, 72, 0.74);
  text-align: center;
  margin: 0 0;
}

.failed p {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  padding: 3rem 3rem 2rem 5rem;
}

button {
  background-color: rgba(170, 0, 161, 0.493);
  color: #2091a5;
  padding: 0.5rem;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: right;
  float: right;
}
